
.container, body
{
    color: white;
    background: #311E11;
}

.logo
{
  vertical-align: middle;
}
.title
{
	text-align: center;
	font-size: 48px;
	font-weight: 300;
}

#output
{
	background: #7D922A;
	width: 800px;
	margin: 10px auto;
}

.node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: .5;
  stroke: white;
  stroke-width: 1.5px;
}

.node text
{
  font: 18px helvetica;
  fill: #FFFFFF;
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1.5px;
}

