
html, body
{
    color: black;
    background: white;
    margin: 10px;
    padding: 10px;
    font-family: Helvetica Neue;
    font-size: 0.9em;
}

h1
{
  font-size: 36px;
  font-weight: 300;
  margin-bottom: .3em;
}

