
html, body
{
    color: black;
    background: white;
    margin: 10px;
    padding: 10px;
    font-family: Helvetica Neue;
    font-size: 0.9em;
}

h1
{
  font-size: 36px;
  font-weight: 300;
  margin-bottom: .3em;
}

#output
{
    color: white;
    background: gray;
    border: 1px solid black;
    font-size: 50px;
    width: 800px;
    margin: 50px auto;
    padding: 50px;
    text-align: center;
}
